# env
.env

# Cache
__pycache__/

# VSCode
.vscode/

# Git
.git

# API
.kaggle/kaggle.json

# Airflow
logs/*

# Data
data/

!data/bronze/

data/bronze/*

!data/bronze/**

data/bronze/**/*.zip

data/silver/

data/gold/